  <div id="quick_panel_icon_box" class="quick_panel_icon_box" style="float:left;">
    <div  id="qp_panelBtn" class="qp_panelBtn icon-power d3-ico d3-disc d3-disc-outer d3-disc-bg"
    title="quick link">
    </div>
    <!-- href="#qp_panel" -->
  </div>
