
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="qp_sidebar" class="qp_panel dark_bg">

        <div id="qp_close_cont" class="qp_close_cont">
            <div id="qp_panel_cls_btn" class="qp_panel_cls_btn qp_dismiss close_btn icon-cross d3-ico d3-disc d3-disc-outer" ></div>
        </div>
        {{> ql_btn }}
    </nav>

</div>
