  <div id="left_panel_icon_box" class="left_panel_icon_box" style="float:left;">
    <a  id="qp_panelBtn" class="qp_panelBtn ui-icon-bolt d3-btn"
    title="quick link">
    </a>
    <!-- href="#qp_panel" -->
  </div>
