
.entry_editor{
  // margin: .5rem 0;
  .DraftEditor-root{

    padding: .25rem .5rem;
    // max-height: 15rem;
    // height: 23rem;
    overflow-y: auto;

    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: .3125em;

    .DraftEditor-editorContainer{
      height: 100%;
    }

    div[class*="DraftEditor-content"]{
      // border: 1px solid red;
      // min-height: 100px;
      height: 100%;
    }
  }

  .entry_toolbar{
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 1rem;
    .draft_style_btn, .code-controls .RichEditor-styleButton{
      border: 1px solid black;
      width: 1.5rem;
      height: 1.5rem;
      margin: .25rem;
      text-align: center;
      box-shadow: 0px 1px 11px 1px rgba(15, 15, 15, 0.2);
      background-color: #34495e;
      color: #fff;
      transistion: all 250ms ease-in-out;
      cursor: pointer;
      &.active, &:hover{
        transform: translateY(1px);/*gives it a little bounce*/
        color: #34495e;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid #34495e;
      }/*active*/
    }

    .RichEditor-controls, .code-controls {
      font-family: 'Helvetica', sans-serif;
      font-size: 14px;
      margin-bottom: 5px;
      user-select: none;
    }

    .code-controls{
      margin: .25rem;
      .RichEditor-styleButton{
        margin: unset;
        height: 1.5rem;
        width: fit-content;
        padding: .25rem;
        display: flex;
        align-items: center;
      }
    }

    .RichEditor-styleButton {
      color: #999;
      cursor: pointer;
      margin-right: 16px;
      padding: 2px 0;
      display: inline-block;
    }
  }// note_toolbar

  .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }

  .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
    pre pre::-webkit-scrollbar, pre pre::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE and Edge */
    pre pre{
      margin-bottom: .25rem;
      -ms-overflow-style: none;
    }
}/*entry_editor*/


.public-DraftEditorPlaceholder-root {
  color: var(fbui-desktop-text-placeholder);
  position: absolute;
  z-index: 0;

  color: #bbb;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: var(fbui-desktop-text-placeholder-focused);
}

.DraftEditorPlaceholder-hidden {
  display: none;
}
