.rt-image-block{
  display: grid;
  grid-template-areas: "text image";
  grid-template-columns:1fr 1fr;
  font-family: Montserrat;
  padding: 1.5rem;
  .rt-image-Block-text-cont{
    /*width:50%;
    z-index: 1;*/
    /*background:#AE71DC;*/
    padding: 2.5rem;
    padding-left: 3.2rem;
    .rt-image-Block-text-main{
      text-align: center;
      font-size: 2em;
      line-height: 1.3em;
      margin:unset;
    }
    .rt-image-Block-text-sub{
      font-size: 1.7em;
      line-height: 1.2em;
      margin:unset;
      padding-top: 1.5rem;
    }
  }/*.rt-image-Block-text-cont*/
  .rt-image-container{
    /*width: 50%;
    z-index: 10;*/
    display: flex;
    align-items: center;
    .rt-image{
      width: 100%;
      max-width: unset;
      border-radius: 20px;
    }
  }
}/*.rt-image-block*/

@media only screen and (min-width:300px) and (max-width:324px)
{

}

@media only screen and (min-width:320px) and (max-width:479px)
{
  .rt-image-block {
    grid-template-areas: "image" "text";
    grid-template-columns:  1fr;
    padding: 10px 1.5rem;
    .rt-image-Block-text-cont{
      padding-left: 2.5rem;
      .rt-image-Block-text-main{
        font-size: 1.5em $mp;
      }
      .rt-image-Block-text-sub{
        font-size: 1.3em $mp;
      }
    }
    .rt-image-container{
      padding: .5rem;
      .rt-image {
        width: 100% $mp;
      }
    }
  }/*.rt-image-block*/
}/* @media only min-320*/


@media only screen and (min-width:480px) and (max-width:767px)
{

}

@media only screen and (min-width:768px) and (max-width:991px)
{

}

@media only screen and (min-width:992px) and (max-width:1999px)
{

}
