
$mp : !important;

body {
  /* padding-top: 330px; */
  /*padding-top: 430px $mp;*/
}

.content-filler{width:100%; height:1000px}

.lead-title{
  text-align: center;
  font-size: 3.5em;
  padding: 10px;
  font-family: Montserrat;
}


.d3po-action{
  opacity: 0;
  transition: opacity 1s;
}

.d3po-action.active {
  opacity: 1;
}



@media only screen and (min-width:300px) and (max-width:324px)
{

}

@media only screen and (min-width:320px) and (max-width:479px)
{

  .lead-title{
    font-size: 1.4rem;
    font-weight: bold;
  }

}/* @media only min-320*/

@media only screen and (min-width:480px) and (max-width:767px)
{

}

@media only screen and (min-width:768px) and (max-width:991px)
{

}

@media only screen and (min-width:992px) and (max-width:1999px)
{

}




  @media only screen and (max-width:299px)
  {
    html{/*font-size:15px !important;*/font-size:5.0vw !important;}
  }
  @media only screen and (min-width:300px) and (max-width:479px)
  {
    html{/*font-size:15px !important;*/font-size:3.9vw !important;}
  }
  @media only screen and (min-width:480px) and (max-width:768px)
  {
    html{/*font-size:15px !important;*/font-size:1.8vw !important;}
  }
  @media only screen and (min-width:769px) and (max-width:992px)
  {
    html{/*font-size:15px !important;*/font-size:1.5vw !important;}
  }
  @media only screen and (min-width:993px) and (max-width:1239px)
  {
    html{/*font-size:15px !important;*/font-size:1.4vw !important;}
  }
  @media only screen and (min-width:1240px) and (max-width:1343px)
  {
    html{/*font-size:15px !important;*/font-size:1.25vw !important;}
  }
  @media only screen and (min-width:1344px) and (max-width:1468px)
  {
    html{/*font-size:15px !important;*/font-size:1.15vw !important;}
  }
  @media only screen and (min-width:1469px)
  {
    html{ font-size:1.0vw !important;}
  }

.d-flex{
  display:flex;
}
.d-grid{
  display:grid;
}

.g-img{
  grid-area: image;
}
.g-txt{
  grid-area: text;
}

.m-20px{
  margin: 20px;
}
.z-1{
  z-index:1 $mp;
}
.z-2{
  z-index:2 $mp;
}
.z-10{
  z-index:10 $mp;
}
.z-30{
  z-index: 30 $mp;
}

.w-50{
  width:50%;
}
.w-100{
  width:100%;
}

.color-white, .color-w{
  color: #fff;
}
.color-m{
  color:#7F28C1;
}
.color-l1{
  color:#AE71DC;
}
.color-l2{
  color:#9349CC;
}
.color-d1{
  color:#6A0AB4;
}
.color-d2{
  color:#4E0785;
}
.color-g{
  color:#958D8D $mp;
}
.color-lg{
  color:#EAE9E9 $mp;
}
.bg-white, .bg-w{
  background: #fff $mp;
}
.bg-m{
  background:#7F28C1 $mp;
}
.bg-l1{
  background:#AE71DC $mp;
}
.bg-l2{
  background:#9349CC $mp;
}
.bg-d1{
  background:#6A0AB4 $mp;
}
.bg-d2{
  background:#4E0785 $mp;
}
.bg-lg{
  background:#EAE9E9 $mp;
}


@import "offCanvas";
@import "sticky_hero";
@import "lft_image_block";
@import "rt_image_block";
@import "trioText";
@import "slide_in_left";
@import "slide_in_right";
@import "slide_in_bottom";
@import "marketing_site_footer";
@import "scale_up"; 
