body {
  /* padding-top: 330px; */
  /*padding-top: 430px $mp;*/ }

.content-filler {
  width: 100%;
  height: 1000px; }

.lead-title {
  text-align: center;
  font-size: 3.5em;
  padding: 10px;
  font-family: Montserrat; }

.d3po-action {
  opacity: 0;
  transition: opacity 1s; }

.d3po-action.active {
  opacity: 1; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .lead-title {
    font-size: 1.4rem;
    font-weight: bold; } }
/* @media only min-320*/
@media only screen and (max-width: 299px) {
  html {
    /*font-size:15px !important;*/
    font-size: 5.0vw !important; } }
@media only screen and (min-width: 300px) and (max-width: 479px) {
  html {
    /*font-size:15px !important;*/
    font-size: 3.9vw !important; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  html {
    /*font-size:15px !important;*/
    font-size: 1.8vw !important; } }
@media only screen and (min-width: 769px) and (max-width: 992px) {
  html {
    /*font-size:15px !important;*/
    font-size: 1.5vw !important; } }
@media only screen and (min-width: 993px) and (max-width: 1239px) {
  html {
    /*font-size:15px !important;*/
    font-size: 1.4vw !important; } }
@media only screen and (min-width: 1240px) and (max-width: 1343px) {
  html {
    /*font-size:15px !important;*/
    font-size: 1.25vw !important; } }
@media only screen and (min-width: 1344px) and (max-width: 1468px) {
  html {
    /*font-size:15px !important;*/
    font-size: 1.15vw !important; } }
@media only screen and (min-width: 1469px) {
  html {
    font-size: 1.0vw !important; } }
.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.g-img {
  grid-area: image; }

.g-txt {
  grid-area: text; }

.m-20px {
  margin: 20px; }

.z-1 {
  z-index: 1 !important; }

.z-2 {
  z-index: 2 !important; }

.z-10 {
  z-index: 10 !important; }

.z-30 {
  z-index: 30 !important; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.color-white, .color-w {
  color: #fff; }

.color-m {
  color: #7F28C1; }

.color-l1 {
  color: #AE71DC; }

.color-l2 {
  color: #9349CC; }

.color-d1 {
  color: #6A0AB4; }

.color-d2 {
  color: #4E0785; }

.color-g {
  color: #958D8D !important; }

.color-lg {
  color: #EAE9E9 !important; }

.bg-white, .bg-w {
  background: #fff !important; }

.bg-m {
  background: #7F28C1 !important; }

.bg-l1 {
  background: #AE71DC !important; }

.bg-l2 {
  background: #9349CC !important; }

.bg-d1 {
  background: #6A0AB4 !important; }

.bg-d2 {
  background: #4E0785 !important; }

.bg-lg {
  background: #EAE9E9 !important; }

.offcanvas-full-screen {
  position: fixed;
  z-index: 1;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #0a0a0a;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow-y: auto; }

[data-whatinput='mouse'] .offcanvas-full-screen {
  outline: 0; }

.offcanvas-full-screen.is-transition-overlap {
  z-index: 10; }

.offcanvas-full-screen.is-transition-overlap.is-open {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7); }

.offcanvas-full-screen.is-open {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.offcanvas-full-screen.is-open ~ .off-canvas-content {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }

.offcanvas-full-screen.is-transition-push::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
  content: " "; }

.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.offcanvas-full-screen-inner {
  padding: 1rem;
  text-align: center; }

.offcanvas-full-screen-menu {
  margin: 0;
  padding: 2.5em;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

[data-whatinput='mouse'] .offcanvas-full-screen-menu > li {
  outline: 0; }

.offcanvas-full-screen-menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1; }

.offcanvas-full-screen-menu input,
.offcanvas-full-screen-menu select,
.offcanvas-full-screen-menu a,
.offcanvas-full-screen-menu button {
  margin-bottom: 0; }

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.offcanvas-full-screen-menu > li > a {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.offcanvas-full-screen-menu a {
  color: #fefefe; }

.offcanvas-full-screen-menu a:hover {
  color: #b2b2b2; }

.offcanvas-full-screen-close {
  color: #fefefe;
  font-size: 5rem;
  outline: none; }

.offcanvas-full-screen-close:hover {
  color: #b2b2b2; }

.offCanvas-menu-icon {
  display: none !important; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .offCanvas-menu-icon {
    display: inline-block !important; } }
/* @media only min-320*/
header {
  z-index: 20; }

body.sticky-shrinknav-wrapper {
  /*padding-top: 200px $mp;*/
  padding-top: 450px !important; }

body.sticky-shrinknav-wrapper.fix_me {
  /*padding-top: 200px $mp;*/
  padding-top: 150px !important; }

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  /*background-color: rgba(23, 121, 186, 0.9);*/
  background-color: #6A0AB4; }

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease; }

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /* bottom: 0; */
  top: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgba(23, 121, 186, 0.1);
  transition: all 0.5s ease; }

.sticky-shrinknav-menu > li {
  border-radius: 2px;
  transition: all 0.3s ease; }

.sticky-shrinknav-menu > li:hover {
  box-shadow: 0 0 0 1px #fefefe; }

.sticky-shrinknav-menu a {
  color: #fefefe; }

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
  -ms-transform: translateY(-1.875rem);
  transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #fefefe; }

.sticky-shrinknav-header {
  width: 100%;
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2196e3;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  background: url("../images/architecture-big-apple-buildings-2579705.png") black center top no-repeat;
  background-attachment: fixed;
  background-size: auto 75%; }

.sticky-shrinknav-header.fix_me {
  position: fixed;
  background-position: center center;
  background-size: cover !important;
  background-attachment: unset; }

.menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
  text-decoration: none; }

.menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: .8em;
  line-height: 22px;
  text-align: center; }

.menu > li, .menu.horizontal > li {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.menu {
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

ul.menu {
  padding: unset;
  width: unset;
  margin: .5rem; }

.menu-container {
  display: flex;
  justify-content: space-between;
  border-bottom: thin solid #ccc; }

.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.brand-title {
  width: auto;
  margin: unset;
  padding: 0 1rem;
  vertical-align: top;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bold; }

/*sign up and sign in bts*/
.auth-btn {
  border: 1px solid #fff;
  margin: .25rem; }

.hero-action {
  font-size: 1.2rem;
  font-family: Montserrat;
  background: #7f28c1;
  padding: .5rem; }
  .hero-action a {
    color: #fff;
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
    text-decoration: none; }
  .hero-action a:hover {
    color: #AE71DC !important; }

.sticky-shrinknav-header {
  flex-flow: column; }

.intro-text, .main-text, .sub-text {
  font-family: Montserrat; }

.intro-text {
  margin-top: 3em;
  font-size: 1em;
  font-weight: bold; }

.main-text {
  font-size: 3.5em;
  line-height: 1.5em;
  font-weight: bold; }

.sub-text {
  width: 45%; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  ul.menu {
    display: none; }

  .brand-title {
    font-size: 1em;
    font-weight: bold; }

  .main-text {
    font-size: 2em;
    line-height: 1.8em; }

  .intro-text {
    font-size: .9em; }

  .sub-text {
    width: 80%;
    font-size: .9em; }

  .hero-action {
    font-size: .9em; } }
/* @media only min-320*/
.lft-image-block {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: 1fr 1fr;
  font-family: Montserrat;
  padding: 1.5rem;
  /*.lft-image-Block-text-cont*/ }
  .lft-image-block .lft-image-Block-text-cont {
    /*width:50%;
    z-index: 1;
    background:#AE71DC;*/
    padding: 2.5rem;
    padding-left: 3.2rem; }
    .lft-image-block .lft-image-Block-text-cont .lft-image-Block-text-main {
      text-align: center;
      font-size: 2em;
      line-height: 1.3em;
      margin: unset; }
    .lft-image-block .lft-image-Block-text-cont .lft-image-Block-text-sub {
      color: #4E0785;
      font-size: 1.7em;
      line-height: 1.2em;
      margin: unset;
      padding-top: 1.5rem; }
  .lft-image-block .lft-image-container {
    /*width: 50%;
    z-index: 10;*/
    display: flex;
    align-items: center; }
    .lft-image-block .lft-image-container .lft-image {
      width: 110%;
      max-width: unset; }

/*.lft-image-block*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .lft-image-block {
    grid-template-areas: "image" "text";
    grid-template-columns: 1fr;
    padding: 10px 1.5rem; }
    .lft-image-block .lft-image-Block-text-cont {
      padding-left: 2.5rem; }
      .lft-image-block .lft-image-Block-text-cont .lft-image-Block-text-main {
        font-size: 1.5em !important; }
      .lft-image-block .lft-image-Block-text-cont .lft-image-Block-text-sub {
        font-size: 1.3em !important; }
    .lft-image-block .lft-image {
      width: 100% !important; }

  /*.lft-image-block*/ }
/* @media only min-320*/
.rt-image-block {
  display: grid;
  grid-template-areas: "text image";
  grid-template-columns: 1fr 1fr;
  font-family: Montserrat;
  padding: 1.5rem;
  /*.rt-image-Block-text-cont*/ }
  .rt-image-block .rt-image-Block-text-cont {
    /*width:50%;
    z-index: 1;*/
    /*background:#AE71DC;*/
    padding: 2.5rem;
    padding-left: 3.2rem; }
    .rt-image-block .rt-image-Block-text-cont .rt-image-Block-text-main {
      text-align: center;
      font-size: 2em;
      line-height: 1.3em;
      margin: unset; }
    .rt-image-block .rt-image-Block-text-cont .rt-image-Block-text-sub {
      font-size: 1.7em;
      line-height: 1.2em;
      margin: unset;
      padding-top: 1.5rem; }
  .rt-image-block .rt-image-container {
    /*width: 50%;
    z-index: 10;*/
    display: flex;
    align-items: center; }
    .rt-image-block .rt-image-container .rt-image {
      width: 100%;
      max-width: unset;
      border-radius: 20px; }

/*.rt-image-block*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .rt-image-block {
    grid-template-areas: "image" "text";
    grid-template-columns: 1fr;
    padding: 10px 1.5rem; }
    .rt-image-block .rt-image-Block-text-cont {
      padding-left: 2.5rem; }
      .rt-image-block .rt-image-Block-text-cont .rt-image-Block-text-main {
        font-size: 1.5em !important; }
      .rt-image-block .rt-image-Block-text-cont .rt-image-Block-text-sub {
        font-size: 1.3em !important; }
    .rt-image-block .rt-image-container {
      padding: .5rem; }
      .rt-image-block .rt-image-container .rt-image {
        width: 100% !important; }

  /*.rt-image-block*/ }
/* @media only min-320*/
.trio-text {
  display: grid;
  grid-template-areas: "title title title" "cube1 cube2 cube3";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0;
  padding: 10px;
  font-family: Montserrat; }
  .trio-text .trio-title {
    grid-area: title;
    text-align: center;
    font-size: 2em;
    font-weight: bolder; }
  .trio-text .trio-cube {
    padding: 2em; }
    .trio-text .trio-cube .cube-main {
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.3em;
      margin: unset; }
    .trio-text .trio-cube .cube-sub, .trio-text .trio-cube .cube-nbr {
      font-size: 1.2em;
      line-height: 1.2em;
      margin: unset;
      padding-top: 1.5em; }
    .trio-text .trio-cube .cube-nbr {
      padding: unset; }
  .trio-text .cube1 {
    grid-area: cube1; }
  .trio-text .cube2 {
    grid-area: cube2;
    margin: -10px;
    background: #ccc;
    box-shadow: 5px 10px 10px #ccc; }
  .trio-text .cube3 {
    grid-area: cube3; }
  .trio-text .ends {
    background: rgba(196, 196, 196, 0.14); }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  /*I use this one the most for mobile responsive displays*/
  .trio-text {
    grid-template-areas: "title" "cube1" "cube2" "cube3";
    grid-template-columns: 1fr; }
    .trio-text .trio-cube .cube-main {
      font-size: 1.1em !important; }
    .trio-text .trio-cube .cube-sub, .trio-text .trio-cube .cube-nbr {
      font-size: 0.9em !important; } }
/* @media only min-320*/
.d3po-action.active > .slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-9-11 10:13:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
.d3po-action.active > .slide-in-right {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-9-11 10:13:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
.d3po-action.active > .slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-9-11 10:13:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
.marketing_site_footer {
  display: grid;
  grid-template-areas: "top top top top" "brand links about photos" "bottom bottom bottom bottom";
  width: 100%;
  background: #2D2B2B;
  margin-top: 4rem;
  /*grid-template-rows: 2fr 8fr 1fr;*/
  /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
  grid-template-columns: repeat(4, 1fr);
  color: #C4C4C4; }
  .marketing_site_footer .footer_top {
    grid-area: top;
    display: grid;
    background: #343232;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    height: fit-content;
    grid-gap: 1rem;
    padding: 0 2rem; }
    .marketing_site_footer .footer_top .top_text {
      color: #9E9E9E;
      flex: 1 auto;
      padding: 10px;
      height: fit-content; }
    .marketing_site_footer .footer_top .subscribe {
      flex: 1 auto;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      height: fit-content; }
      .marketing_site_footer .footer_top .subscribe input {
        width: 65%;
        margin: unset;
        background-color: #343232; }
      .marketing_site_footer .footer_top .subscribe button {
        width: 30%;
        background-color: #545252; }
      .marketing_site_footer .footer_top .subscribe input, .marketing_site_footer .footer_top .subscribe button {
        height: 35px;
        border: thin solid #EAE9E9;
        color: #9E9E9E; }
  .marketing_site_footer .footer-cards {
    height: 21rem;
    padding: 30px 10px 10px; }
  .marketing_site_footer .footer_brand {
    grid-area: brand; }
    .marketing_site_footer .footer_brand .bt-logo {
      width: 100%;
      height: 2rem;
      background: url("../images/businesstech_logo1.png") center top no-repeat;
      background-size: contain;
      margin-bottom: 1.5rem; }
    .marketing_site_footer .footer_brand .bt-address {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7rem;
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 1.5rem;
      padding: 0 .8rem; }
    .marketing_site_footer .footer_brand .bt-world-img {
      width: 100%;
      height: 9rem;
      background: url("../images/map_stensil.png") center top no-repeat;
      background-size: contain; }
  .marketing_site_footer .footer_links {
    grid-area: links; }
  .marketing_site_footer .footer_about {
    grid-area: about; }
    .marketing_site_footer .footer_about p {
      padding: 0 .8rem; }
  .marketing_site_footer .footer_photos {
    grid-area: photos; }
    .marketing_site_footer .footer_photos .img-holder {
      width: 80%;
      height: 20rem;
      background: url(../images/image_group.png) center top no-repeat;
      background-size: contain; }
  .marketing_site_footer .footer_bottom {
    grid-area: bottom;
    background: #343232;
    color: #9E9E9E;
    font-size: .9rem;
    padding: .5rem 2rem; }

/*marketing_site_footer*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .marketing_site_footer {
    grid-template-areas: "top" "top" "brand" "links" "about" "photos" "bottom";
    grid-template-columns: unset; }
    .marketing_site_footer .footer_top {
      padding: 2rem; }
      .marketing_site_footer .footer_top .subscribe {
        justify-content: center; }
        .marketing_site_footer .footer_top .subscribe button {
          font-size: 80%;
          padding: .25rem; }
    .marketing_site_footer .footer-cards {
      padding: 2rem; }

  /*marketing_site_footer*/ }
/* @media only min-320*/
.d3po-action.active > .scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-9-16 16:36:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
